.container-termos{
    margin: 80px;
    margin-top: 10px;
    word-wrap: break-word;
    text-overflow: ellipsis;

}
h1{
    text-align: center;
}
.black-button{
    margin-top:40px ;
    margin-left: 80px;
    width: 18vh;
    height: 6vh;
    border:solid 1px #000;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    font-size: 2.5vh;
    cursor: pointer;

}
.black-button:hover{
    margin-top:40px ;
    margin-left: 80px;
    width: 18vh;
    height: 6vh;
    border:solid 1px #000;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    font-size: 2.5vh;
    cursor: pointer;
    box-shadow: 0.0em 0.0em 0.8em #000;
    text-shadow: 0.0em 0.0em 0.8em #fff;
}